body {
    background-color: rgb(225, 225, 234);
  }
  

  
h1 {
    color: #000000;
    background-color:rgb(250, 0, 0);
    border: 2px solid rgb(138, 135, 135);
}
.center{
    text-align: center;
 }
/*CLASS*/
.center {
  text-align: center;
}

.fonte-verde {
      color: rgb(4, 19, 4);
 }

 /*ID*/
 #para{
      font-family: Verdana;
      font-size: 20px;
 }

#para {
    color: rgb(22, 32, 24);
    font-family: verdana;
    font-size: 20px;
 }

 
